.col {
	color: #fff;
}

.text-muted {
	color: rgb(0, 0, 0)!important;
}



.btn-success {
    background-color: #000000;
    border-color: #000000;
    user-select: none;
    border-radius: 0px;
    cursor: default;
}

.btn-success:hover {
	color: #fff;
	background-color: #7ccfff;
	border-color: #f7f7f7;
}

.btn-success:disabled {
	color: #fff;
	background-color: #7ccfff;
	border-color: #ffffff;
}

button#savebtn:active {
    color: #fff;
	background: #000000;
	border-color: #000000;
	cursor: default;
}

button#savebtn:focus {
    color: #fff;
	background: #000000;
	border-color: #000000;
	cursor: default;
	box-shadow: none;
}

button#defaultbtn:active {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

button#defaultbtn:focus {
    background-color: #000000;
    border-color: #000000;
    color: #fff;
    box-shadow: none;
}

.ui-widget-content {
	border: 1px solid;
	border-color: #fff;
	background-color: #000000;
	background: none;
	user-select: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #fff;
	user-select: none;
}

.ui-slider .ui-slider-handle:active {
	position: absolute;
	z-index: 2;
	padding-bottom:14px;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	background-image: linear-gradient(#000000, #ffffff);
	user-select: none;
}

.slider {
	border: 1px solid;
	border-color: #fff;
	background-color: #fff;
	padding-bottom:14px;
	user-select: none;
}

.ui-slider {
	position: relative;
	text-align: left;
	user-select: none;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
	user-select: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	user-select: none;
}